body, h1, p, nav {
  margin: 0;
  padding: 0;
}
body {
 font-family: Arial, sans-serif; 
 background-color: #f2f2f2;
 color: #333;
}
header {
  background-color: #333;
  padding: 20px;
}
p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
h1 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
nav {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}
